.jumbotron {
  background-color: #ff3f34;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

.card2 {
  width: 18rem;
  text-align: center;
}

.header-image {
  background: url("../src/banner5.jpg") center center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer-image {
  background: url("../src/banner.jpg") center center;
  background-size: 100%;
  background-repeat: no-repeat;
}
